{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-param-reassign": 1,
    "class-methods-use-this": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "linebreak-style": 0,
    "react/prefer-stateless-function": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unused-state": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}