{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "linebreak-style": 0,
    "react/prefer-stateless-function": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
