@import "./normalize.css";
$dark: rgb(30, 30, 30);
$light: rgb(255, 255, 255);
$blue: rgb(112, 155, 235);
$red: rgb(219, 59, 59);

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.055);
  font-size: 10px;
  color: $dark;
}

/*
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.02);
  background-image: url("../assets/img/3contour.svg"),
    linear-gradient(to right, rgba(0, 0, 0, 0.021), rgba(17, 17, 17, 0.027));
  min-height: calc(100vh - 100px);
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
}

.title {
  font-size: 8rem;
}

.app {
  position: relative;
  height: 100vh;
  width: 100%;
  // overflow: hidden;

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 370px auto;
  }
}

main {
  height: 100vh;
  padding: 1rem;
  overflow-y: scroll;
}

.dashboard {
  display: grid;
  align-content: center;
  justify-items: center;

  .logo {
    display: grid;
    align-content: center;
    justify-items: center;
  }

  .logo-tagline {
    font-weight: 900;
    margin: 0;
  }
}

.sidebar {
  background-color: $dark;
  color: $light;
  padding: 1rem;
  overflow-x: visible;
  width: 100%;
  // position: absolute;

  @media (min-width: 768px) {
    min-height: 100vh;
    overflow-y: scroll;
  }
}

.sidebar-component {
  margin-bottom: 2rem;

  .sidebar-title {
    position: sticky;
    top: 0;
    background-color: $dark;
    @media (min-width: 768px) {
      position: relative;
    }
  }

  .sidebar-toggle {
    text-align: left;
    border: unset;
    border-bottom: 1px solid #222222;
    background: none;
    color: $light;
    font-weight: 800;
    font-size: 2rem;
    padding: 1rem;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.user-playlists {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  font-weight: 500;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  &.open {
    display: block;
  }

  .playlist-button {
    width: 100%;
    text-align: left;
    border: unset;
    border-bottom: 1px solid #222222;
    background: none;
    color: $light;
    font-weight: 800;
    font-size: 2rem;
    padding: 1rem 0;
  }

  .playlist-button span {
    padding-right: 0.5rem;
  }

  .user-playlist-item,
  .list-headers {
    width: 100%;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
}

.current-playlist {
  padding: 0;
  overflow-wrap: break-word;
  word-break: break-all;
  line-break: loose;

  button {
    height: 2.5rem;
    color: $light;
    font-weight: bold;
    border: none;
    margin-right: 1rem;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    }

    &.action {
      background: $blue;
      &:hover {
        background: darken($blue, 10%);
      }
    }

    &.cancel,
    &.danger {
      background: $red;
      &:hover {
        background: saturate($red, 20%);
      }
    }

    &[disabled] {
      background: lightgrey;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
    }
  }

  .playlist-header {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem 2rem;
    margin-bottom: 20px;

    @media only screen and (min-width: 900px) {
      grid-template-columns: 1fr 7fr;
    }

    .current-playlist-image {
      width: 200px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      grid-row: span 2;
    }

    .current-playlist-details,
    .edit-playlist-form {
      align-self: start;
    }
  }
}

.current-playlist-title {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.edit-playlist-form {
  input.current-playlist-title {
    display: block;
    width: 100%;
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    border-bottom: 1px solid $dark;
    outline: none;
  }

  .options {
    display: flex;
  }

  .options label {
    margin-right: 1.5rem;
  }

  .options button {
    justify-self: right;
  }
}

.current-playlist-tracks {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  // justify-content: right;
}

.playlist-track-row {
  width: 100%;
  // font-size: 1.5rem;
  display: flex;

  border: 1.5px solid #ffffff;
  z-index: 1;

  .checkbox-label {
    display: flex;
    text-align: center;
    min-width: 6rem;
    min-height: 6rem;
    cursor: pointer;
    justify-items: center;
    align-items: center;
  }

  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.057), -0.5px 0 2px rgba(0, 0, 0, 0.064);

  &.checked {
    background-color: #fcfcfc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.178), 0 0px 5px rgba(0, 0, 0, 0.137);
    border: 1.5px solid scale-color($blue, $alpha: -50%);
    // z-index: 2;
  }
}

.tracks-toolbar {
  border-bottom: 1px solid #a1a1a162;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;

  .toolbar-controls {
    width: 100%;
    align-items: center;
    .remove-tracks {
      float: right;
    }

    .clear-selection {
      display: inline;
      color: $dark;
      background: $light;
      border-radius: 50%;
      font-size: 1.5rem;
      padding: 0.5rem 0.7rem;
      line-height: 0;
      box-shadow: none;

      &:hover {
        background: $dark;
        color: white;
      }
    }
  }
}

.song-details {
  display: flex;
  flex-wrap: wrap;

  padding: 1rem 0;
  line-height: 1.8rem;
  width: 100%;
}

.song-title {
  // font-size: 1.9rem;
  font-weight: 700;
  width: 100%;

  flex-grow: 1;
}

.song-album {
  font-style: italic;
}

.checkbox {
  margin: 0 auto;
  justify-self: center;
}

.app img {
  max-width: 250px;
}

.warning {
  color: $red;
  padding: 20px 0;
}

.warning p {
  margin: 0;
  text-align: center;
}

.text-small {
  font-size: 1.5rem;
}

.text-bold {
  font-weight: bold;
}
